*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
.menu-contanier {
  background: #222;
  border-bottom: 1px solid #555;
  display: flex;
  padding: 15px 30px;
  justify-content: space-around;
  align-items: center;
}
.navbar{
  display: flex;
  align-items: center;
  gap: 15px;
  list-style: none;
  font-size: 1rem;
  height: 30px;
  color: white;
}
.navbar a {
  color: white;
  text-decoration:none;
}
.navbar li:hover{
  color: #222;
  cursor: pointer;
  border-bottom: 1px solid #222;
}
.card-container{
  background: #bdc3c7;
  background: -webkit-linear-gradient(to right, #2c3e50, #bdc3c7);
  background: linear-gradient(to right, #2c3e50, #bdc3c7);
  width: 100vw;
  height: 100vh;
  padding: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.title-card{
  font-size: 1.8rem;
  color: white;
  margin-bottom: 30px;
}
.cards-list {
  max-width: 1080px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
@media only screen and (max-width: 600px){
  .menu-contanier{
    height: 100%;
  }
  .navbar{
    display: flex;
    font-size: 0.6rem;
  }
  .menu-img{
    display: none;
  }
  .card-container{
    height: 100%;
  }
  .cards-list{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
}
.card{
  max-width: 300px;
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0px 3px 8px ;
}
.content-name{
  font-size: 1.2rem;
  font-weight: 700;
}
.content-price{
  font-size: 1rem;
  font-weight: 500;
  color: red;
  text-decoration: line-through
}
.content-discount{
  font-size: 1.3rem;
  font-weight: 600;
}
.content-description{
   font-size: 0.8rem;
  font-weight: 400;
}
.btn-card {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 15px;
}
.btn {
  background-color: rgb(253, 253, 37);
  width: 200px;
  height: 40px;
  border: none;
  font-weight: bold;
  border-radius: 10px;
  box-shadow: 0px 3px 8px #bdc3c7;
}
footer{
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  color: white;
  background-color: #222;
}
